<table class="percentage-table">
  <tr>
    <th>Stat</th>
    <th>Min</th>
    <th>Max</th>
    <th>Prob >= 5</th>
    <th>Prob >= 10</th>
    <th>Prob >= 20</th>
    <th>Prob >= 25</th>
    <th>Prob == 30</th>
  </tr>
  <tr *ngFor="let stat of statList">
    <td>{{getStatName(stat)}}</td>
    <td>{{getMinimumForStat(stat)}}</td>
    <td>{{getMaximumForStat(stat)}}</td>
    <td>{{getProbabilityForStat(stat, 5) | percent:"1.1-1" }}</td>
    <td>{{getProbabilityForStat(stat, 10) | percent:"1.1-1" }}</td>
    <td>{{getProbabilityForStat(stat, 20) | percent:"1.2-2" }}</td>
    <td>{{getProbabilityForStat(stat, 25) | percent:"1.3-3" }}</td>
    <td>{{getProbabilityForStat(stat, 30) | percent:"1.3-3" }}</td>
  </tr>

  <tr>
    <th>Triplet</th>
    <th>Min</th>
    <th>Max</th>
    <th>Prob >= 24</th>
    <th>Prob >= 28</th>
    <th>Prob >= 30</th>
    <th>Prob >= 32</th>
    <th>Prob == 34</th>
  </tr>
  <tr>
    <td>M | R | R</td>
    <td>{{getMinimumTotalForTriplet(0)}}</td>
    <td>{{getMaximumTotalForTriplet(0)}}</td>
    <td>{{getProbabilityForTriplet(0, 24) | percent:"1.1-1" }}</td>
    <td>{{getProbabilityForTriplet(0, 28) | percent:"1.1-1" }}</td>
    <td>{{getProbabilityForTriplet(0, 30) | percent:"1.2-2" }}</td>
    <td>{{getProbabilityForTriplet(0, 32) | percent:"1.3-3" }}</td>
    <td>{{getProbabilityForTriplet(0, 34) | percent:"1.3-3" }}</td>
  </tr>
  <tr>
    <td>D | I | S</td>
    <td>{{getMinimumTotalForTriplet(1)}}</td>
    <td>{{getMaximumTotalForTriplet(1)}}</td>
    <td>{{getProbabilityForTriplet(1, 24) | percent:"1.1-1" }}</td>
    <td>{{getProbabilityForTriplet(1, 28) | percent:"1.1-1" }}</td>
    <td>{{getProbabilityForTriplet(1, 30) | percent:"1.2-2" }}</td>
    <td>{{getProbabilityForTriplet(1, 32) | percent:"1.3-3" }}</td>
    <td>{{getProbabilityForTriplet(1, 34) | percent:"1.3-3" }}</td>
  </tr>

  <tr>
    <th>Total</th>
    <th>Min</th>
    <th>Max</th>
    <th>Prob >= 48</th>
    <th>Prob >= 56</th>
    <th>Prob >= 60</th>
    <th>Prob >= 64</th>
    <th>Prob == 68</th>
  </tr>
  <tr>
    <td>Total</td>
    <td>{{getMinimumTotal()}}</td>
    <td>{{getMaximumTotal()}}</td>
    <td>{{getProbabilityForTotal(48) | percent:"1.2-2" }}</td>
    <td>{{getProbabilityForTotal(56) | percent:"1.2-2" }}</td>
    <td>{{getProbabilityForTotal(60) | percent:"1.2-2" }}</td>
    <td>{{getProbabilityForTotal(64) | percent:"1.3-3" }}</td>
    <td>{{getProbabilityForTotal(68) | percent:"1.3-3" }}</td>
  </tr>
</table>
