<table class="percentage-table">
  <tr>
    <th>Stat</th>
    <th>Min</th>
    <th>Max</th>
    <th>Prob >= 5</th>
    <th>Prob >= 10</th>
    <th>Prob >= 20</th>
    <th>Prob >= 25</th>
    <th>Prob == 30</th>
  </tr>
  <tr *ngFor="let stat of statList">
    <td>{{getStatName(stat)}}</td>
    <td>{{getMinimumForStat(stat)}}</td>
    <td>{{getMaximumForStat(stat)}}</td>
    <td *ngVar="getProbabilityForStat(stat, 5) as val" [class.zero]="val == 0">{{val | percent:"1.1-1" }}</td>
    <td *ngVar="getProbabilityForStat(stat, 10) as val" [class.zero]="val == 0">{{val | percent:"1.1-1" }}</td>
    <td *ngVar="getProbabilityForStat(stat, 20) as val" [class.zero]="val == 0">{{val | percent:"1.2-2" }}</td>
    <td *ngVar="getProbabilityForStat(stat, 25) as val" [class.zero]="val == 0">{{val | percent:"1.3-3" }}</td>
    <td *ngVar="getProbabilityForStat(stat, 30) as val" [class.zero]="val == 0">{{val | percent:"1.3-3" }}</td>
  </tr>

  <tr>
    <th>Triplet</th>
    <th>Min</th>
    <th>Max</th>
    <th>Prob >= 24</th>
    <th>Prob >= 28</th>
    <th>Prob >= 30</th>
    <th>Prob >= 32</th>
    <th>Prob == 34</th>
  </tr>
  <tr>
    <td>M | R | R</td>
    <td>{{getMinimumTotalForTriplet(0)}}</td>
    <td>{{getMaximumTotalForTriplet(0)}}</td>
    <td *ngVar="getProbabilityForTriplet(0, 24) as val" [class.zero]="val == 0">{{val | percent:"1.1-1" }}</td>
    <td *ngVar="getProbabilityForTriplet(0, 28) as val" [class.zero]="val == 0">{{val | percent:"1.1-1" }}</td>
    <td *ngVar="getProbabilityForTriplet(0, 30) as val" [class.zero]="val == 0">{{val | percent:"1.2-2" }}</td>
    <td *ngVar="getProbabilityForTriplet(0, 32) as val" [class.zero]="val == 0">{{val | percent:"1.3-3" }}</td>
    <td *ngVar="getProbabilityForTriplet(0, 34) as val" [class.zero]="val == 0">{{val | percent:"1.3-3" }}</td>

  </tr>
  <tr>
    <td>D | I | S</td>
    <td>{{getMinimumTotalForTriplet(1)}}</td>
    <td>{{getMaximumTotalForTriplet(1)}}</td>
    <td *ngVar="getProbabilityForTriplet(1, 24) as val" [class.zero]="val == 0">{{val | percent:"1.1-1" }}</td>
    <td *ngVar="getProbabilityForTriplet(1, 28) as val" [class.zero]="val == 0">{{val | percent:"1.1-1" }}</td>
    <td *ngVar="getProbabilityForTriplet(1, 30) as val" [class.zero]="val == 0">{{val | percent:"1.2-2" }}</td>
    <td *ngVar="getProbabilityForTriplet(1, 32) as val" [class.zero]="val == 0">{{val | percent:"1.3-3" }}</td>
    <td *ngVar="getProbabilityForTriplet(1, 34) as val" [class.zero]="val == 0">{{val | percent:"1.3-3" }}</td>
  </tr>

  <tr>
    <th>Total</th>
    <th>Min</th>
    <th>Max</th>
    <th>Prob >= 48</th>
    <th>Prob >= 56</th>
    <th>Prob >= 60</th>
    <th>Prob >= 64</th>
    <th>Prob == 68</th>
  </tr>
  <tr>
    <td>Total</td>
    <td>{{getMinimumTotal()}}</td>
    <td>{{getMaximumTotal()}}</td>
    <td *ngVar="getProbabilityForTotal(48) as val" [class.zero]="val == 0">{{val | percent:"1.2-2" }}</td>
    <td *ngVar="getProbabilityForTotal(56) as val" [class.zero]="val == 0">{{val | percent:"1.2-2" }}</td>
    <td *ngVar="getProbabilityForTotal(60) as val" [class.zero]="val == 0">{{val | percent:"1.2-2" }}</td>
    <td *ngVar="getProbabilityForTotal(64) as val" [class.zero]="val == 0">{{val | percent:"1.2-2" }}</td>
    <td *ngVar="getProbabilityForTotal(68) as val" [class.zero]="val == 0">{{val | percent:"1.2-2" }}</td>

  </tr>
</table>
