<app-plug-triplet-visualiser
  [activePlugs]="plugs_mrr_A"
  [names]="['mob','res', 'rec']"
></app-plug-triplet-visualiser>
<app-plug-triplet-visualiser
  [activePlugs]="plugs_mrr_B"
  [names]="['mob','res', 'rec']"
></app-plug-triplet-visualiser>
<app-plug-combination-visualiser
  [activePlugsA]="plugs_mrr_A"
  [activePlugsB]="plugs_mrr_B"
  [names]="['mob','res', 'rec']"
></app-plug-combination-visualiser>

<br>
<app-plug-triplet-visualiser
  [activePlugs]="plugs_dis_A"
  [names]="['dis','int', 'str']"
></app-plug-triplet-visualiser>
<app-plug-triplet-visualiser
  [activePlugs]="plugs_dis_B"
  [names]="['dis','int', 'str']"
></app-plug-triplet-visualiser>
<app-plug-combination-visualiser
  [activePlugsA]="plugs_dis_A"
  [activePlugsB]="plugs_dis_B"
  [names]="['dis','int', 'str']"
></app-plug-combination-visualiser>

<br>
<br>




<mat-card>
  <mat-card-title>Plug Filters</mat-card-title>
  <mat-card-content>

    <div class="config-grp-entry">
      <label id="radio-statbase">
        <b>Armor Quality</b>
        High Stat removes every plug with a sum less than 14.
      </label>
      <br>
      <mat-button-toggle-group aria-labelledby="radio-statbase" [(ngModel)]="filterHighStat" (change)="update()">
        <mat-button-toggle [value]="0">Normal</mat-button-toggle>
        <mat-button-toggle [value]="1">High Stat</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="config-grp-entry">
      <label id="radio-wartable">
        <b>War Table Focus and Pit of Heresy.</b>
        The first plug must have 15 in the selected stat.
      </label>
      <br>

      <mat-button-toggle-group aria-labelledby="radio-wartable" [(ngModel)]="warTableFocus" (change)="update()">
        <mat-button-toggle [value]="-1">None</mat-button-toggle>
        <mat-button-toggle [value]="0" class="triplet1">Mobility</mat-button-toggle>
        <mat-button-toggle [value]="1" class="triplet1">Resilience</mat-button-toggle>
        <mat-button-toggle [value]="2" class="triplet1">Recovery</mat-button-toggle>
        <mat-button-toggle [value]="3" class="triplet2">Discipline</mat-button-toggle>
        <mat-button-toggle [value]="4" class="triplet2">Intellect</mat-button-toggle>
        <mat-button-toggle [value]="5" class="triplet2">Strength</mat-button-toggle>
        <mat-button-toggle [value]="6">Any (Pit of Heresy)</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="config-grp-entry">
      <label id="radio-exoticintrinsic">
        <b>Exotic intrinsic</b> (overwrites ghost in same triplet).
        The selected stat must be > 1 in every plug.
      </label>
      <br>
      <mat-button-toggle-group aria-labelledby="radio-exoticintrinsic" [(ngModel)]="filterExoticIntrinsic" (change)="update()">
        <mat-button-toggle [value]="-1">None</mat-button-toggle>
        <mat-button-toggle [value]="0" class="triplet1">Mobility</mat-button-toggle>
        <mat-button-toggle [value]="1" class="triplet1">Resilience</mat-button-toggle>
        <mat-button-toggle [value]="2" class="triplet1">Recovery</mat-button-toggle>
        <mat-button-toggle [value]="3" class="triplet2">Discipline</mat-button-toggle>
        <mat-button-toggle [value]="4" class="triplet2">Intellect</mat-button-toggle>
        <mat-button-toggle [value]="5" class="triplet2">Strength</mat-button-toggle>
      </mat-button-toggle-group>
    </div>



    <div class="config-grp-entry">
      <label id="radio-ghostmod">
        <b>Ghost Mod</b>.
        The selected stat must be > 1 in every plug.</label>
      <br>
      <mat-button-toggle-group aria-labelledby="radio-ghostmod" [(ngModel)]="filterGhost" (change)="update()">
        <mat-button-toggle [value]="-1">None</mat-button-toggle>
        <mat-button-toggle [value]="0" class="triplet1" [disabled]="isGhostModDisabled(0)">Mobility</mat-button-toggle>
        <mat-button-toggle [value]="1" class="triplet1" [disabled]="isGhostModDisabled(1)">Resilience</mat-button-toggle>
        <mat-button-toggle [value]="2" class="triplet1" [disabled]="isGhostModDisabled(2)">Recovery</mat-button-toggle>
        <mat-button-toggle [value]="3" class="triplet2" [disabled]="isGhostModDisabled(3)">Discipline</mat-button-toggle>
        <mat-button-toggle [value]="4" class="triplet2" [disabled]="isGhostModDisabled(4)">Intellect</mat-button-toggle>
        <mat-button-toggle [value]="5" class="triplet2" [disabled]="isGhostModDisabled(5)">Strength</mat-button-toggle>
      </mat-button-toggle-group>

    </div>
  </mat-card-content>

</mat-card>
