.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card {
  width: 100%;
  max-width: 650px;
  margin: 10px 10px;
}

.example-radio-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

r {
  color: rgba(141, 139, 115, 0.3);
  z-index: -10;
}


.triplet1 {
  background-color: rgba(234, 45, 45, 0.1);
}

.mat-button-toggle-checked.triplet1 {
  background-color: rgba(234, 45, 45, 0.34);
}
.triplet2 {
  background-color: rgba(45, 76, 234, 0.1);
}

.mat-button-toggle-checked.triplet2 {
  background-color: rgba(45, 83, 234, 0.34);
}

.config-grp-entry {
  margin-bottom: 10px;
}

.impossible-warning {
  color: red;
  font-weight: bold;
}
