<app-plug-triplet-visualiser
  [activePlugs]="plugs_mrr_A"
  [names]="['mob','res', 'rec']"
></app-plug-triplet-visualiser>
<app-plug-triplet-visualiser
  [activePlugs]="plugs_mrr_B"
  [names]="['mob','res', 'rec']"
></app-plug-triplet-visualiser>
<app-plug-combination-visualiser
  [activePlugsA]="plugs_mrr_A"
  [activePlugsB]="plugs_mrr_B"
  [names]="['mob','res', 'rec']"
></app-plug-combination-visualiser>

<br>
<app-plug-triplet-visualiser
  [activePlugs]="plugs_dis_A"
  [names]="['dis','int', 'str']"
></app-plug-triplet-visualiser>
<app-plug-triplet-visualiser
  [activePlugs]="plugs_dis_B"
  [names]="['dis','int', 'str']"
></app-plug-triplet-visualiser>
<app-plug-combination-visualiser
  [activePlugsA]="plugs_dis_A"
  [activePlugsB]="plugs_dis_B"
  [names]="['dis','int', 'str']"
></app-plug-combination-visualiser>

<br>
<br>


<mat-card>
  <mat-card-title>Plug Filters</mat-card-title>
  <mat-card-content>

    <div class="config-grp-entry">
      <label id="radio-statbase">
        <b>Armor Quality</b>
        High Stat removes every plug with a sum less than 14.
      </label>
      <br>
      <mat-button-toggle-group aria-labelledby="radio-statbase" [(ngModel)]="filterHighStat" (change)="update()">
        <mat-button-toggle [value]="0">Normal</mat-button-toggle>
        <mat-button-toggle [value]="1">High Stat</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="config-grp-entry">
      <label id="radio-wartable">
        <b>Focused Vendor and Pit of Heresy.</b>
        The first plug must have 15 in the selected stat.
        Note that PoH is also High Stat.
      </label>
      <br>

      <mat-button-toggle-group aria-labelledby="radio-wartable" [(ngModel)]="warTableFocus" (change)="update()">
        <mat-button-toggle [value]="-1">None</mat-button-toggle>
        <!--
        <mat-button-toggle [value]="0" class="triplet1">Mobility</mat-button-toggle>
        <mat-button-toggle [value]="1" class="triplet1">Resilience</mat-button-toggle>
        <mat-button-toggle [value]="2" class="triplet1">Recovery</mat-button-toggle>
        <mat-button-toggle [value]="3" class="triplet2">Discipline</mat-button-toggle>
        <mat-button-toggle [value]="4" class="triplet2">Intellect</mat-button-toggle>
        <mat-button-toggle [value]="5" class="triplet2">Strength</mat-button-toggle>
        -->
        <mat-button-toggle [value]="6">Any</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="config-grp-entry">
      <label id="radio-exoticintrinsic">
        <b>Exotic intrinsic</b> (overwrites ghost in same triplet).
        The selected stat must be > 1 in every plug.
      </label>
      <br>
      <mat-button-toggle-group aria-labelledby="radio-exoticintrinsic" [(ngModel)]="filterExoticIntrinsic"
                               (change)="update()">
        <mat-button-toggle [value]="-1">None</mat-button-toggle>
        <mat-button-toggle [value]="0" class="triplet1">Mobility</mat-button-toggle>
        <mat-button-toggle [value]="1" class="triplet1">Resilience</mat-button-toggle>
        <mat-button-toggle [value]="2" class="triplet1">Recovery</mat-button-toggle>
        <mat-button-toggle [value]="3" class="triplet2">Discipline</mat-button-toggle>
        <mat-button-toggle [value]="4" class="triplet2">Intellect</mat-button-toggle>
        <mat-button-toggle [value]="5" class="triplet2">Strength</mat-button-toggle>
      </mat-button-toggle-group>
    </div>


    <div class="config-grp-entry">
      <label id="radio-ghostmod">
        <b>Ghost Mod</b>.
        The selected stat must be > 1 in every plug.</label>
      <br>
      <mat-button-toggle-group aria-labelledby="radio-ghostmod" [(ngModel)]="filterGhost" (change)="update()">
        <mat-button-toggle [value]="-1">None</mat-button-toggle>
        <mat-button-toggle [value]="0" class="triplet1" [disabled]="isGhostModDisabled(0)">Mobility</mat-button-toggle>
        <mat-button-toggle [value]="1" class="triplet1" [disabled]="isGhostModDisabled(1)">Resilience
        </mat-button-toggle>
        <mat-button-toggle [value]="2" class="triplet1" [disabled]="isGhostModDisabled(2)">Recovery</mat-button-toggle>
        <mat-button-toggle [value]="3" class="triplet2" [disabled]="isGhostModDisabled(3)">Discipline
        </mat-button-toggle>
        <mat-button-toggle [value]="4" class="triplet2" [disabled]="isGhostModDisabled(4)">Intellect</mat-button-toggle>
        <mat-button-toggle [value]="5" class="triplet2" [disabled]="isGhostModDisabled(5)">Strength</mat-button-toggle>
      </mat-button-toggle-group>

    </div>
  </mat-card-content>

</mat-card>


<mat-card>
  <mat-card-title>
    Observations
  </mat-card-title>
  <mat-card-content>

    <table class="percentage-table">
      <tr>
        <th>Stat</th>
        <th>Min</th>
        <th>Max</th>
        <th>Prob >= 5</th>
        <th>Prob >= 10</th>
        <th>Prob >= 20</th>
        <th>Prob >= 25</th>
        <th>Prob == 30</th>
      </tr>
      <tr *ngFor="let stat of statList">
        <td>{{getStatName(stat)}}</td>
        <td>{{getMinimumForStat(stat)}}</td>
        <td>{{getMaximumForStat(stat)}}</td>
        <td>{{getProbabilityForStat(stat, 5) | percent:"1.1-1" }}</td>
        <td>{{getProbabilityForStat(stat, 10) | percent:"1.1-1" }}</td>
        <td>{{getProbabilityForStat(stat, 20) | percent:"1.2-2" }}</td>
        <td>{{getProbabilityForStat(stat, 25) | percent:"1.3-3" }}</td>
        <td>{{getProbabilityForStat(stat, 30) | percent:"1.3-3" }}</td>
      </tr>

      <tr>
        <th>Triplet</th>
        <th>Min</th>
        <th>Max</th>
        <th>Prob >= 24</th>
        <th>Prob >= 28</th>
        <th>Prob >= 30</th>
        <th>Prob >= 32</th>
        <th>Prob == 34</th>
      </tr>
      <tr>
        <td>M | R | R</td>
        <td>{{getMinimumTotalForTriplet(0)}}</td>
        <td>{{getMaximumTotalForTriplet(0)}}</td>
        <td>{{getProbabilityForTriplet(0, 24) | percent:"1.1-1" }}</td>
        <td>{{getProbabilityForTriplet(0, 28) | percent:"1.1-1" }}</td>
        <td>{{getProbabilityForTriplet(0, 30) | percent:"1.2-2" }}</td>
        <td>{{getProbabilityForTriplet(0, 32) | percent:"1.3-3" }}</td>
        <td>{{getProbabilityForTriplet(0, 34) | percent:"1.3-3" }}</td>
      </tr>
      <tr>
        <td>D | I | S</td>
        <td>{{getMinimumTotalForTriplet(1)}}</td>
        <td>{{getMaximumTotalForTriplet(1)}}</td>
        <td>{{getProbabilityForTriplet(1, 24) | percent:"1.1-1" }}</td>
        <td>{{getProbabilityForTriplet(1, 28) | percent:"1.1-1" }}</td>
        <td>{{getProbabilityForTriplet(1, 30) | percent:"1.2-2" }}</td>
        <td>{{getProbabilityForTriplet(1, 32) | percent:"1.3-3" }}</td>
        <td>{{getProbabilityForTriplet(1, 34) | percent:"1.3-3" }}</td>
      </tr>

      <tr>
        <th>Total</th>
        <th>Min</th>
        <th>Max</th>
        <th>Prob >= 48</th>
        <th>Prob >= 56</th>
        <th>Prob >= 60</th>
        <th>Prob >= 64</th>
        <th>Prob == 68</th>
      </tr>
      <tr>
        <td>Total</td>
        <td>{{getMinimumTotal()}}</td>
        <td>{{getMaximumTotal()}}</td>
        <td>{{getProbabilityForTotal(48) | percent:"1.2-2" }}</td>
        <td>{{getProbabilityForTotal(56) | percent:"1.2-2" }}</td>
        <td>{{getProbabilityForTotal(60) | percent:"1.2-2" }}</td>
        <td>{{getProbabilityForTotal(64) | percent:"1.3-3" }}</td>
        <td>{{getProbabilityForTotal(68) | percent:"1.3-3" }}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
